<div class="inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
  <table class="min-w-full">
    <thead>
      <%= assigns[:table_headers] %>
    </thead>
    <tbody>
      <%= assigns[:table_rows] %>
    </tbody>
  </table>
</div>
