<div>
    <%= raw Chartkick.line_chart @data %>
</div>
<%= for message <- @messages do %>
    <div>
        <%= DateTime.from_unix!(elem(Integer.parse(message.ts), 0)) %>:
        <%= for reaction <- message.reactions do %> 
        (<%= reaction.user.name %>: <%= reaction.rating %>)
        <% end %>
    </div>
<% end %>
